<%- include('partials/header') %>
    <div>
        <ul>
            <% candidats.forEach(Candidat => { %>
                <li><img src="<%= Candidat.photo %>" width="50" height="50"><br> <%= Candidat.nom_candidat %> <%= Candidat.prenom_candidat %> <br> Parti : <%= Candidat.parti %><br>
                    Bio : <%= Candidat.bioagraphie %><br>
                    Programme : <%= Candidat.programme %><br> 
                    Nombre de votes: <%= Candidat.nbVotes %></li>

            <% }); %>
        </ul>
    </div>
<%- include('partials/footer') %>