<%- include('partials/header') %>

<div class="container mt-5">
    <h1 class="text-center mb-4 text-success">Mes Favoris</h1>
    
    <!-- Liste des favoris -->
    <div class="row">
        <% favoris.forEach(favori => { %>
            <div class="col-md-4 mb-4">
                <!-- Carte pour chaque favori -->
                <div class="card">
                    <img src="<%= favori.photo %>" class="card-img-top" width="10px"  height="200px" <%= favori.nom_candidat %>">
                    <div class="card-body">
                        <p class="card-title text-center text-success"><strong><%= favori.nom_candidat %> <%= favori.prenom_candidat %></strong></p>
                        <span class="card-text"><strong>Parti :</strong> <%= favori.parti %></span>
                        <p class="card-text"><strong>Biographie :</strong> <%= favori.biographie %></p>
                    </div>
                </div>
            </div>
            <a href="/profile/<%= user._id %>" >
                <button type="button" class="cancel-button btn btn-secondary btn-lg" >Annuler</button>
            </a> 
        <% }); %>
        
    </div>
    
</div>

<%- include('partials/footer') %>
