<%- include('partials/header') %>

<div class="container mt-5">
    <h1 class="text-center mb-4">Mes Favoris</h1>
    
    <!-- Liste des favoris -->
    <div class="row">
        <% favoris.forEach(favori => { %>
            <div class="col-md-4 mb-4">
                <!-- Carte pour chaque favori -->
                <div class="card">
                    <img src="<%= favori.photo %>" class="card-img-top"  alt="<%= favori.nom_candidat %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= favori.nom_candidat %> <%= favori.prenom_candidat %></h5>
                        <p class="card-text"><strong>Parti :</strong> <%= favori.parti %></p>
                        <p class="card-text"><strong>Biographie :</strong> <%= favori.biographie %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('partials/footer') %>
