<%- include('partials/header') %>
    <div>
        <ul>
            <% utilisateurs.forEach(Utilisateurs => { %>
                <li><img src="<%= Utilisateurs.photo %>" width="100" height="100"> -<%= Utilisateurs.nom_user %>-<%= Utilisateurs.prenom_user %> - <%= Utilisateurs.age %> ans</li>

            <% }); %>
        </ul>
        <button onclick="location.href='candidats'">voir les candidats</button>
    </div>
<%- include('partials/footer') %>